<div class="d-flex flex-column justify-content-center 
align-items-center">
  <i class="fas fa-link fa-9x"></i>
  <p>{{shorten.name}}</p>
  <div>
    <div class="mt-2">
      <font size="8">Success!</font>
      <p class="h4"></p>Please use this link:
      </p>
      <a id="copyTarget" class="h3" href="1234567">123356</a>
    </div>

    <form action="/shorten/show" method="POST">
      <button type="button" class="btn btn-primary btn-lg" style="width: 100px;"
        onclick="copyEvent('copyTarget')">Copy</button>
    </form>
  </div>
</div>


{{!-- ------copy function------ --}}
<script>
  function copyEvent(id) {
    var str = document.getElementById(id);
    window.getSelection().selectAllChildren(str);
    document.execCommand("Copy")
    alert(`複製${}成功`)
  }
</script>