<div class="d-flex flex-column justify-content-center 
align-items-center">
  <span class="h2">URL Shortener</span>
  <i class="fas fa-link fa-9x m-3"></i>
  <p>{{shorten.name}}</p>
  <div>
    <div class="mt-2">
      <p class="h4">
        <font size="6">Success!</font>
        Please use this link:
      </p>
    </div>
  </div>
  <a id="copyTarget" class="h3" href="{{name}}">{{newshortenURL}}</a>
  <form action="/shorten/show" method="POST">
    <button type="button" class="btn btn-primary btn-lg" style="width: 100px;"
      onclick="copyEvent('copyTarget')">Copy</button>
  </form>
  <a class="btn btn-outline-primary m-2" href="/">BACK</a>


  {{!-- ------copy function------ --}}
  <script>
    function copyEvent(id) {
      var str = document.getElementById(id);
      window.getSelection().selectAllChildren(str);
      document.execCommand("Copy")
      alert(`複製成功`)
    }
  </script>